{% load static %}
{% load men_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'men/css/base.css' %}" rel="stylesheet">
</head>
<body>
{% block mainmenu %}

{% get_menu_items as menu %}

<div class="navbar">
    <a href="{% url 'home' %}">
        <img src="{% static 'men/images/b_logo.jpg' %}" class="logo"alt="logo"/>
    </a>
    <ul class="navbar-menu">
        {% for e in menu %}
        <li class="nav-bar-list-item">
            <a href="{% url e.url_name %}" class="nav-bar-button">{{e.title}}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock mainmenu %}

<div class="columns">
    <div class="categories">
        <ul class="categories-list">
            {% if cat_selected == 0 %}
                <li class="categories-list-item">
                    <p>Все категории</p>
                </li>
            {% else %}
                <li class="categories-list-item">
                    <a class="categories-list-button" href="{% url 'home' %}">Все категории</a>
                </li>
            {% endif %}


            {% show_categories 'name' cat_selected %}
        </ul>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</div>

</body>
</html>